body {
	text-align: center
}

.img-container {
	text-align: center;
	margin-top: 30px;
}

.img-container img {
	height: 200px;
	border-radius: 100px;
	border: 3px solid #CCC;
}

.name-container h1 {
	font-size: 36px;
	font-family: 'Lato'';
	font-weight: 100;
	width: 250px;
	margin: 20px auto;
	border-bottom: 1px solid blue;
}

.name-container h2 {
	font-size: 30px;
	font-family: 'Lato';
	font-weight: 150;
	width: 250px;
	margin: 60px auto;
}

.description-container1 {
	font-size: 18;
	font-family: 'Lato';
	font-weight: 200;
	margin-bottom: 30px;
}

.description-container2 {
	font-size: 18;
	font-family: 'Lato';
	font-weight: 200;
	margin-top: auto;
	margin-bottom: 30px;
}

.icons {
	font-size: 2em;
}

.icons i {
	margin: 0 0.5em;
}

.icons a {
	text-decoration: none;
	color: #fff;
}

.icons a:hover {
	color: #999;
}
